//META{"name":"SneaKy#9803","description":"Edited Clear Vision","author":"nfld99 (The Fucker Who Had To Spend An Hour Editing And Fixing This Shit)","version":"5"}*//{}
/* "ClearVision - Sapphire v5" by @Zerthox */
/* Based on "Discord Reborn v4.30" by @Omniscient & "DarkMatter" by @Hammock */

@import url(https://rawgit.com/SneaKy178/Sneaky-Theme/master/SneaKy.css);

:root {
	--main-color: #2780e6;  
	--hover-color: #1e63b3;
    --background-blur: 0px;
    --background-brightness: 100%;
}

body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://i.imgur.com/d4HTHLn.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}


